header{
    background-color: thistle;
    color: tomato;
}
.colorUno{
    background:  skyblue;

    color: white
}
footer{
    background: rgb(10, 119, 64);
    color: tan;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
footer{
    margin-bottom: 0px;
}