.quote{
    font: 400 72px "Arizona", Helvetica, sans-serif;
    color: #6e6cf7;
    text-align: center;
}

.post-title{
    color: #5f61f4;
}
body{
    background-color: rgb(219, 255, 243);
    min-height: 100%;
}
.titulo{
    font-size: 50px;
    text-align: center;
    padding: 50px;
    color: #4689e6;
}


.section-pair{
    background-color: #ccd9ed;
    text-align: center;
}

.section-odd{
    background-color: aliceblue;
    padding-bottom: 40px;
}

@media (min-width: 544px) {  
    h1 {font-size:3rem;} /*1rem = 16px*/
  }

@media (min-width: 768px) {  
    h1 {font-size:4.5rem;} /*1rem = 16px*/
}
   
@media (min-width: 992px) { 
   h1 {font-size:4.5rem;} /*1rem = 16px*/
}

@media only screen and (max-width: 700px) {
  section.benefits{
    background-image: none !important;
    }
}
@media only screen and (min-width: 1300px) {
  section.benefits{
    background-size: 20% !important;
    }
}

  div p.bienvenido{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 35px;
      text-align: center;
      padding-bottom: 15px;
      margin-bottom: 0px;
  }

    .img-fluid.icono{
      width: 60px;
      border-radius: 50% !important;
  }

  section.benefits{
      background-image: url("../images/smiling-beautiful-europe-book-school-education1.png");
      background-repeat: no-repeat;
      background-position: 90%;
      background-size: 25%;
  }

  .row div.paddedd{
      padding-bottom: 2rem;
      max-height: fit-content;
      font-size: 23px;
      font-weight: bold;
  }

.row div.paddedd .row{
    align-items: center;
}

.col-4{
    max-width: fit-content;
}

.uno{
    height: 200px;
    padding-bottom: 0px;
}

.dos{
    height: 200px;
    background-color: #5f61f4;
    width: 100%;
    border-radius: 50%;
    border-start-start-radius: initial;
    border-bottom-left-radius: initial;
    animation: ease-in 3ms alternate alternate unset;
}

.texto{
    padding-bottom: 40px;
    font-size: 30px;
}

.univ-back{
    background-image: url(../images/university.svg);
    background-position: bottom bottom 45px;
}

div.active-cyan-4{
    width: 400px;
}

.active-cyan-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
    position: relative;
    width: 400px;
  }
